.viewer-outer {
  width: 100%;
  background: #2d2d31;
  /* background: linear-gradient(to left, #212124, #262626); */
  height: 480px;
  max-height: 480px;
  scroll-behavior: auto;
  overflow: hidden;
  padding: 10px 0 10px 0;
}

.viewer-scrollcontainer {
  width: 60%;
  height: 100%;
  margin: auto;
  text-align: left;
  color: rgba(250, 250, 250, 0.45);
  font-weight: 400;
  font-family: monospace;
  font-size: 0.65rem;
  overflow: auto;
}

.viewer-scrollcontainer::-webkit-scrollbar {
  background: transparent;
}
