.content {
  width: 90%;
  margin: auto;
  padding: 10px 40px 10px 40px;
}

.section {
  background: rgba(0, 0, 0, 0.02);
  padding: 15px;
}

.header {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 8px;
  color: #b4b4b5;
}
