/** global selector styles go here */
@import url('./styles/reset.css');
@import url('./styles/font-awesome.min.css');

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  margin: 0;
  padding: 0;
}

input {
  height: 30px;
  padding-left: 10px;
  font-size: 14px;
  width: 100%;
  display: block;
  border-radius: 1px;
  border: 1px solid #e37236;
  color: #b4b4b5;
}

input:focus {
  border-color: #e37236;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input::placeholder {
  font-style: italic;
  font-size: 0.9rem;
  color: #b4b4b5;
}

input.error {
  border-color: red;
}

label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: #b4b4b5;
}

a:visited {
  color: #b4b4b5;
}

a:hover {
  color: #cecece;
}
