.source-list {
  display: block;
  list-style: none;
  padding: 0;
}

.source-list .source-item:not(:first-child) {
  margin-top: 16px;
}

.source-item {
  background: white;
  display: flex;
  padding: 15px;
  color: rgba(0, 0, 0, 0.65);
  text-align: left;
  transition: background 0.15s ease-in;
}

.source-item.toggled,
.source-item:hover {
  background: #f9e0d2;
}

.source-item .trash {
  height: 100%;
  margin-top: 10px;
  cursor: pointer;
  user-select: none;
}
.source-item .trash:hover {
  color: red;
}

.source-details {
  height: 34px;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease;
}

.source-details.toggled {
  min-height: 320px;
}

.form-container {
  margin-top: 40px;
}

.pills-list {
  display: inline-flex;
}

.pill.add-tag-button {
  margin-top: 4px;
  background: #e37236;
  cursor: pointer;
  transition: background 0.2s ease;
}

.pill.add-tag-button.toggled {
  cursor: not-allowed;
  background: #f3c0a5;
  color: rgba(0, 0, 0, 0.25);
}

.pill.add-tag-button.toggled:hover {
  background: red;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.25);
}

.add-tag-enter {
  opacity: 0.01;
}

.add-tag-enter-active {
  opacity: 1;
  transition: all 100ms ease-out;
  transition-delay: 180ms;
}

.add-tag-exit {
  opacity: 1;
}

.add-tag-exit-active {
  opacity: 0.01;
  transition: all 100ms ease-out;
}
