form .form-item:not(:first-child) {
  margin-top: 20px;
}

form .form-item:last-of-type {
  margin-bottom: 20px;
}

.form-item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.form-item .required:before {
  position: absolute;
  left: -8px;
  content: '*';
}

.form-item .Select {
  width: 100%;
  border: 1px #e37236;
}

.form-item .invalid .Select-control {
  border: 1px solid red;
}

.form-item .Select-input {
  text-align: left;
  display: flex !important;
  align-items: center;
  padding-top: 6px;
}

.form-item .Select-input > input {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.form-item .Select-placeholder {
  text-align: left;
  font-weight: 100;
  font-style: italic;
}

.form-item .Select-value {
  text-align: left;
}

.form-item
  .Select.has-value.Select--single
  > .Select-control
  .Select-value
  .Select-value-label,
.Select.has-value.is-pseudo-focused.Select--single
  > .Select-control
  .Select-value
  .Select-value-label {
  padding: 0;
  font-size: 14px;
  color: black;
}

.form-item label {
  text-align: left;
  min-width: 120px;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
}

.button-container .button > i {
  display: inline-block;
  margin-left: 4px;
}
