.button {
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 34px;
  min-width: 106px;
  outline: #b4b4b5;
  border: 1px solid #b4b4b5;
  background: #212124;
  color: #b4b4b5;
  margin: 0px;
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: none;
  border-radius: 0;
  box-shadow: none;
  user-select: none;
  will-change: auto;
  transition: all 0.15s ease-in;
}

.button:hover:not(:disabled) {
  background: rgba(0, 126, 255, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.01);
}

.button:disabled {
  color: rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.21);

  cursor: not-allowed !important;
}

.button + .button {
  margin-left: 0.5rem;
}
