.app {
  text-align: center;
  overflow: auto;
}

.app-header {
  background-color: #f0f2f5;
  height: 40px;
  padding: 5px 5px 15px 8px;
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e37236;
}

.app-header h1 {
  padding: 0;
  margin-top: 8px;
  min-width: 200px;
  user-select: none;
}

.app-title {
  font-size: 1.5em;
}

.app-header img {
  padding-right: 4px;
  padding-top: 4px;
  align-self: center;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.menu li {
  display: inline-block;
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-link {
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
}

.menu-link.active {
  color: #e37236;
  cursor: default;
  transition: color 0.3s ease;
}

.active-bar {
  height: 2px;
  background: #e37236;
}
