.tags-list {
  display: flex;
  list-style-type: none;
  margin-top: 4px;
  margin-bottom: 6px;
}

.pill {
  display: inline-block;
  background: #e37236;
  border-radius: 6px;
  padding: 4px;
  margin-right: 4px;
  transition: background 0.2s ease;
  min-height: 14px;
  user-select: none;
}

.pill:hover {
  background: #f3c0a5;
}

.pill-delete {
  display: inline-block;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 4px;
  cursor: pointer;
}

.pill-delete:hover {
  color: red;
}

.loading {
  display: inline-flex;
  align-items: center;
  min-height: 32px;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.3);
}
